<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ⛅ Weather Report</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body> <form action="/" method="post">
    <label for="Location"><h1>Enter name of Your City </h1></label>
    <input type="text" id="Location" name="cityName">
    <button class="btn" type="submit">Search</button>
</form>
<footer>
    Made with ❤️ by Mayank.
</footer>
</body>
</html>